

section{
  padding: 2rem 7%;
}

.home{
  min-height: 95vh;
  display: flex;
  align-items: center;
  background: url('bg/ap-so.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.home .contents{
  max-width: 40rem;
}

hr{
  background-color: var(--verde);
}

.home .contents h3{
  font-size: 3.7rem;
  text-transform: uppercase;
  color: #fff;
}

.home .contents p{
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.headings{
  text-align: center;
  color: #9cb1c4;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.headings::after{
  content: "";
  height: 4px;
  width: 250px;
  background-color:var(--main-color);
  border-radius: 3px;
  position: relative;
  display: block;
  margin: auto;
}

.headings span{
  color:#fff;
  text-transform: uppercase;
}

hr{
  height: 2px;
}



.about .rows{
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
  border-radius: 9px;
}

.about .rows .image{
  flex: 1 1 25rem;
}

.about .rows .image img{
  width: 100%;
  border-radius: 9px;
}

.about .rows .contents{
  flex: 1 1 25rem;
  padding: 1.5rem;
}

.about .rows .contents h3{
  font-size: 2rem;
  color: #fff;
}

.about .rows .contents p{
  font-size: 1.2rem;
  color: #ccc;
  padding: .6rem 0;
  line-height: 1.8;
}

.galery .imagenes{
  align-items: center;
  background: var(--black);
  border-radius: 9px;
  padding: 4px 3px 3px 3px;
}

.galery .imagenes .pie{
  width: 100%;
  text-align: center;
}

.galery .imagenes .pie button{
  margin-top: 10px;
  width: 75%;
  border-radius: 9px;
}

.likes{
  max-width: 100%;
}

.likes i{
  font-size: 20px;
  color: var(--main-color);
}

.foto{
  height: 250px;
  object-fit: scale-down;
}

.titulos{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.descrip{
  font-size:.9375rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.fondo{
  background: #657f97;
  color: #ccc;
  border-radius: 9px;
}






@media(max-width:991px){
  section{
    padding: 2rem;
  }


}

@media(max-width:768px){
  section{
    padding: 2rem;
  }

  .home{
    justify-content: center;
    text-align: center;
  }

  .home .contents h3{
    font-size: 3.5rem;
  }

  .home .contents p{
    font-size: 1.3rem;
  }
}

@media(max-width:400px){
  .about .rows .contents button{
    width: 100%;
  }
}

