<footer>
  <div class="footer-content">
    <h3>Titulo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam labore numquam ex esse officia ab at, harum ratione mollitia sint accusamus assumenda, quisquam veniam quos sequi exercitationem eos ea et.</p>
    <ul class="socials">
      <li><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
      <li><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
      <li><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
      <li><a href="#"><i class="icon ion-logo-whatsapp"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2022 empresa. designed by <span>samuel cano</span></p>
  </div>
</footer>
